<form class="modal" #f="ngForm" (ngSubmit)="inputSubmit(f)">
  <div class="input-container">
    <input autofocus [type]="inputType" name="input" [placeholder]="placeholder" [ngModel]="defaultText" required>
    <input *ngIf="secondaryInput" [type]="secondaryInputType" name="secondaryInput" [placeholder]="secondaryPlaceholder" [ngModel]="secondaryDefaultText">
  </div>
  <div class="button-container">
    <button type="submit">OK</button>
    <button type="button" class="primary" (click)="cancel()">CANCEL</button>
  </div>
</form>
