<app-header title="Settings"></app-header>
<div class="options">
  <div class="option">
    <fa-icon icon="info" size="sm"></fa-icon>
    <span class="label">{{ appVersion }}</span>
  </div>
</div>
<div class="content-container ph-0">
  <div class="list">
    <div *ngIf="appVersion !== availableVersion" class="list-item" (click)="refresh()">
      <fa-icon icon="sync" size="lg" transform="shrink-3"></fa-icon>
      <span class="label">Update To Version {{ availableVersion }}</span>
    </div>
    <div class="list-item" (click)="logout()">
      <fa-icon icon="user" size="lg" transform="shrink-3"></fa-icon>
      <span class="label">Logout</span>
    </div>
  </div>
</div>
