<div class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">
  <fa-icon icon="chart-pie" size="lg"></fa-icon>
</div>
<div class="nav-item" routerLinkActive="active" routerLink="/counters">
  <fa-icon icon="calculator" size="lg"></fa-icon>
</div>
<div class="nav-item" routerLinkActive="active" routerLink="/todos">
  <fa-icon icon="tasks" size="lg"></fa-icon>
</div>
<div class="nav-item" routerLinkActive="active" routerLink="/goals">
  <fa-icon icon="dollar-sign" size="lg"></fa-icon>
</div>
<div class="nav-item" [ngClass]="{ badge: updateAvailable }" routerLinkActive="active" routerLink="/settings">
  <fa-icon icon="cog" size="lg"></fa-icon>
</div>
