@import '../../../colors';

:host {
  display: flex;
  min-height: 60px;
  background-color: map-get($colors, gray-lighter);
  border-top: 1px solid map-get($colors, gray-light);
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: map-get($colors, gray-medium);
  transition: color .2s ease-in-out;
  outline: none;
  &.active { color: map-get($colors, accent); }
  &.badge::after {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
    box-shadow: 0 0 10px map-get($colors, shadow);
    background-color: map-get($colors, accent);
  }
}
