@import '../../../colors';

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 30px;
  height: 100%;
}

span.error fa-icon {
  margin: 0 5px;
}

.auth-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
