$colors: (
  accent-light: #F88386,
  accent: #F95156,
  accent-dark: #D9474B,
  gray-lightest: #FFFFFF,
  gray-lighter: #FCFCFC,
  gray-light: #F3F3F3,
  gray-medium: #CBCBCB,
  gray-dark: #595959,
  gray-darker: #393939,
  gray-darkest: #262626,
  shadow: rgba(0, 0, 0, .16),
  shadow-dark: rgba(0, 0, 0, .5)
);
