@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'colors';

html, body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: 'Roboto', sans-serif;
  background-color: map-get($colors, gray-lightest);
  color: map-get($colors, gray-darker);
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  user-select: none;
}

a {
  text-decoration: none;
  color: map-get($colors, accent);
}

h1 {
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &.between {
    justify-content: space-between;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & > button:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .inline-input-group {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 15px;
    }
    .fill {
      flex-grow: 1;
    }
    .icon-view {
      height: 35px;
      display: flex;
      align-items: center;
    }
    span.label {
      min-width: 50px;
    }
  }
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
  -webkit-appearance: none;
  height: 35px;
  background-color: map-get($colors, gray-lightest);
  border: none;
  border-bottom: 2px solid map-get($colors, gray-medium);
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  padding: 0 10px;
  font-size: 16px;
  color: map-get($colors, gray-darker);
  outline: none;
  transition: border-bottom-color .2s ease-in-out;
  &:focus, &.ng-invalid.ng-touched {
    border-bottom-color: map-get($colors, accent);
  }
  &:disabled {
    color: map-get($colors, gray-medium);
    border-bottom-color: map-get($colors, gray-light);
  }
}

span {
  &.small { font-size: 14px; }
  &.center { text-align: center; }
  &.link {
    cursor: pointer;
    color: map-get($colors, accent);
  }
  &.error {
    padding: 10px;
    background-color: map-get($colors, accent);
    color: map-get($colors, gray-lightest);
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
  }
}

.mt-1 { margin-top: 10px; }
.h-100 { height: 100%; }
.ph-0 { padding-left: 0px !important; padding-right: 0px !important; }

button {
  border: none;
  outline: none;
  height: 50px;
  background-color: map-get($colors, gray-darker);
  color: map-get($colors, gray-lightest);
  border-radius: 3px;
  font-size: 16px;
  padding: 0 15px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  &.small {
    height: 35px;
    font-size: 14px;
  }
  &:disabled {
    background-color: map-get($colors, gray-dark);
    color: map-get($colors, gray-light);
  }
  &:active:not(:disabled) {
    background-color: map-get($colors, gray-darkest);
  }
  &.primary {
    background-color: map-get($colors, accent);
    &:disabled {
      background-color: map-get($colors, accent-light);
    }
    &:active:not(:disabled) {
      background-color: map-get($colors, accent-dark);
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  overflow: auto;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  fa-icon {
    color: map-get($colors, gray-medium);
    animation: spin .6s steps(8) infinite;
  }
}

.list {
  display: flex;
  flex-direction: column;
  .list-item {
    min-height: 20px;
    display: flex;
    padding: 16px 30px;
    align-items: center;
    border-top: 1px solid map-get($colors, gray-light);
    background-color: map-get($colors, gray-lightest);
    transition: background-color .2s ease-in-out;
    &:nth-child(even) { background-color: map-get($colors, gray-lighter); }
    &:last-child { border-bottom: 1px solid map-get($colors, gray-light); }
    fa-icon {
      margin-right: 10px;
    }
    span.label {
      flex-grow: 1;
      &:not(.no-ellipsis) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    span.meta {
      color: map-get($colors, gray-medium);
      margin-left: 10px;
      text-transform: capitalize;
    }
    &:active {
      background-color: map-get($colors, gray-light);
    }
    .progress {
      position: absolute;
      height: 3px;
      width: 0%;
      left: 0;
      bottom: 0;
      background-color: map-get($colors, success);
    }
  }
}

.expand-around {
  padding: 17px;
  margin: -17px;
}

.options {
  display: flex;
  width: 100%;
  background-color: map-get($colors, gray-lightest);
  padding: 20px 0;
  border-bottom: 1px solid map-get($colors, gray-light);
  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
    color: map-get($colors, accent);
    .label:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grow { flex-grow: 1 !important; }
.no-grow { flex-grow: 0 !important; }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
